include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./Klassifer/*

include Klassifer/datasets/train.csv
include Klassifer/datasets/test.csv
include Klassifer/trained_models/*.pkl
include Klassifer/VERSION

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
